.confirm-dialog {
    padding: 16px;
    max-width: 420px;
    background:
        linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237)) padding-box,
        linear-gradient(135deg, #D1235B, #760465) border-box;

     border: 2px solid transparent;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.confirm-dialog h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 8px 0
}

.seats {
    font-weight: 600;
    margin: 8px 0 16px 0
}

.actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end
}

.confirm-button {
    background: linear-gradient(135deg, #D1235B, #760465);
    color: white;
}

.back-button {
    background: transparent;
    color: #D1235B;
}

.cancel-button {
    background: transparent;
    color: #6b7280;
}

.confirm-button:hover {
    background: linear-gradient(135deg, #760465, #D1235B);
    color: white;
}
