@import 'primeicons/primeicons.css';

html, body {
  margin: 0;
  padding: 0;
}

.pi {
    font-family: 'PrimeIcons' ;
}

/* .my-snackbar {
    float: right;
} */


.mat-mdc-dialog-surface{
    border-radius: 12px;
    overflow: hidden;
}


