<div *ngIf="!event && loading">Loading...</div>
<div class="event-detail-wrap">
	<div *ngIf="!event && loading" class="loading">Loading...</div>
	<div class="event-hero" *ngIf="event as ev">
	<div class="hero-media" [ngStyle]="{'background-image': ev.imageUrl ? 'url('+ev.imageUrl+')' : ''}"></div>
	<div class="hero-overlay">
		<div class="hero-content">
			<h2><mat-icon>flare</mat-icon> {{ev.title}} <mat-icon>flare</mat-icon></h2>
			<p>
				<mat-icon class="mt-icon">location_on</mat-icon>{{ev.location}},
				<mat-icon class="mt-icon">event</mat-icon>{{ev.startDateTime | date:'fullDate'}}.
				<mat-icon class="mt-icon">access_time</mat-icon>{{ev.startDateTime | date:'shortTime'}}
			</p>

				<div class="hero-actions">
					<button mat-button class="book-btn" (click)="goToBooking()"><mat-icon>turned_in</mat-icon> Book</button>
					<button mat-button class="back-btn" (click)="back()"><mat-icon>replay</mat-icon> Back</button>
				</div>
		</div>
	</div>
</div>
</div>
